/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.m05{
    margin-top: 5px;
}
.mt1{
  margin-top: 1rem;
}
.ml-1{
  margin-left:10px;
}
.mat-select-panel{
  margin-top:3em;
}
